   <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>XXXXX公司</strong>. All Rights Reserved
        </p>
        <div class="credits">
          
          这里到时候填备案号 <a href="#">xxxxx</a>
        </div>
        <a href="index.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
