<div class="col-lg-8 col-lg-offset-2 detailed mt">
  <h4 class="mb">附加信息</h4>
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-lg-2 control-label">地址</label>
      <div class="col-lg-6">
      <input type="text" placeholder=" " id="addr1" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">电话</label>
      <div class="col-lg-6">
        <input type="text" placeholder=" " id="phone" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">邮箱</label>
      <div class="col-lg-6">
          <input type="text" placeholder=" " id="email" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
          <button class="btn btn-theme" type="submit">Save</button>
          <button class="btn btn-theme04" type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>
